<!DOCTYPE HTML>
<html>
	<head>
		<title> Busy Day | Busy Day</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="generator" content="Spress v{{ spress.version }}">
		<meta name="description" content="{{ page.description | default(site.description) }}" />
		<meta name="keywords" content="{{ page.keywords | default(site.keywords) | join(',') }}" />
		<!--[if lte IE 8]><script src="/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src="js/skel/dist/skel.min.js"></script>
		<script src="js/init.js"></script>

    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-wide.css" />

		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}/assets/css/ie/v8.css" /><![endif]-->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
		<link rel="stylesheet" href="css/highlight-theme.css">

	</head>
  <body>
<!-- Header -->
<div style="background-image: url('https://ehmart.files.wordpress.com/2012/02/img_30441.jpg')" id="header">
<!-- 	<span class="logo icon fa-paper-plane-o"></span> -->
  <br>
  <h1>Busy Day</h1>
	<h2>Explore the World Around You</h2>
  <h4> Scroll Down to Begin</h4>
</div>

<!-- Main -->
<div id="main">
	<header class="major container 75%">
		<h2 class="grey-text">Explore the World Around You</h2>

		<p>You can find fun locations, new places to eat, <br />
      and the trendiest of both <br />
	Click the pictures below to explore the world you live in! </p>

	</header>



	<div class="box alt container">

			<section class="feature left">
				<a href="/blog" class="image image1 icon fa-signal" id="first"><img src="http://s3-media2.fl.yelpcdn.com/bphoto/p7ccntbcdBmrVKzUNCIFNw/o.jpg" width="200"></a>
				<div class="content">
					<h3>Hungry?</h3>
					<p>This is the answer to all those, "What do you want to eat" questions. It will give you exciting and new places around your area to eat depending on your preferences. Click the picture to begin! </p>
				</div>
			</section>

	</div>

  	<div class="box alt container">
			<section class="feature right">
				<div class="content">
					<h3>Feeling Adventurous?</h3>
					<p> Ever wanted to just go out and explore but had no idea where to start? This will show you fun and interesting places to start your journey! Click the picture to begin!</p>
				</div>
	<a href="/about" class="image image2 icon fa-signal" id="second"><img src="http://static1.squarespace.com/static/544ae1ffe4b0420e88406817/544eb223e4b0bca1f95a9d6d/544ec187e4b0de490d4b22fb/1414447496939/Home_03h.jpg" width="200"></a>
      </section>
  </div>


<!--   to blur a pic in css filter:blur(5px);       -->

  <div class="box alt container">
			<section class="feature left">
				<a href="/contact" class="image image3 icon fa-signal" id="third"><img src="http://sarecity.com/wp-content/uploads/2015/08/Pink-LA41.jpg" width="200"></a>
        <div id="smaller" class="content">
					<h3>Feeling Trendy?</h3>
					<p> Are you super hip and trendy? This will help you catch that perfect picture for your blog, insta, or other social media outlet. (And make your friends super jelly too!) Click the picture to begin! </p>
				</div>
			</section>
	</div>

	<footer class="major container 75%">
		<h3>About Us</h3>
    <p>This app was created by Jordan Douthit, Stephanie Tena and Maya Williamson in partnership with Kode with Klossy and with permission from Yelp.com to use their api.</p>
	</footer>
</body>
</html>